@charset "utf-8";
html { -webkit-tap-highlight: rgba(0, 0, 0, 0); overflow: auto; background: #f4f4f4;-webkit-text-size-adjust: none;-ms-text-size-adjust: none;}
html, body {height: 100%;}
body, h1, h2, h3, h4, h5, h6, p, form, dl, dt, dd, ul, ol, li, input, button, textarea, table, th, td { margin: 0; padding: 0;}
body, button, input, select, textarea { color: #000; font-size: 14px; outline: none; font-family: "Microsoft YaHei", verdana, arial, helvetica, sans-serif;}
input[type="submit"], input[type="button"], input[type="reset"], button { -webkit-appearance: none; -moz-appearance: none; cursor: pointer;*filter: chroma(color=#000000);}
ul, ol { list-style: none}
img { border: none}
table { border-collapse: collapse; border-spacing: 0;}
a { color: inherit;*color: #333;border: none; text-decoration: none;cursor: pointer;-webkit-tap-highlight-color:rgba(0,0,0,0);}
a,a:hover,a:active,a:visited,a:link,a:focus{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;outline:none;text-decoration: none;}
.page-wrapper { width: 1200px; margin-left: auto;margin-right: auto}
.page-grid-bg { background: #fff;}
.left { float: left;}
.right { float: right;}
.hide { display: none;}
.t-center{text-align: center}
.clearfix:after, .page-row:after, .clearfix:before, .page-row:before { visibility: hidden; display: block; font-size: 0; content: "."; clear: both; height: 0}
.clearfix, .page-row { *zoom: 1}
.page-row {margin-bottom: 10px;}
.r{position: relative;}
